@{
    ViewBag.Title = "Подтверждение почты";
}
<div class="alert alert-success" role="alert">
    <strong>Well done!</strong> Thank you for confirming your email. <a href="#" class="alert-link">@Html.ActionLink("Click here to sign in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</a>.
</div>
