@{
    ViewBag.Title = "Завершение регистрации";
}

<div class="alert alert-success" role="alert">
    <strong>Well done!</strong> Further instructions for completing the registration have been sent to the e-mail address.
</div>


@*<h2>@ViewBag.Title</h2>

    <p>На указанный электронный адрес отправлены дальнейшие инструкции по завершению регистрации</p>*@


