@{
    ViewBag.Title = "Подтверждение сброса пароля";
}

<div class="alert alert-success" role="alert">
    <strong>Well done!</strong> Your password has been reset. <a href="#" class="alert-link">@Html.ActionLink("Click here to sign in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</a>.
</div>
